.display-flex {
    display: flex;
}

.font-size--xxs {
    font-size: 9px;
}

.heading {
    text-align: center;
    display: block;
    font-size: 13px;
    margin: 14px 0 3px 0;
    font-weight: bold;
}

.text-align--center {
    text-align: center;
}

body {
    background-image: url("img/back19.jpg");
    font-size: 13px;
    line-height: 13px;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.links {
    color: #FFc800;
    text-decoration: none;
}

.links:hover {
    text-decoration: none;
    color: gray;
}

figure {
    margin: 8px;
}

.bold {
    font-weight: bold;
}

.br {
    margin-bottom: 20px;
}

.content-wrapper {
    flex: 1;
    margin: 0 auto;
    padding: 5px;
    width: 780px;
}

.container {
    background: #2D271E url('img/stiny.gif') repeat-y center;
    color: white;
    flex-direction: column;
    min-height: 100vh;
    width: 800px;
}

.content {
    width: 500px;
}

.content-text {
    background: url("img/backtable.gif");
    border: 1px outset gray;
    margin: 3px 7px;
    padding: 7px 7px 12px 7px;
}

.counter-online {
    margin-bottom: 19px;
    text-decoration: none;
}

.counter-total {
    margin: 6px 0 9px 0;
    text-decoration: none;
}

.footer {
    background: #210907;
    padding: 10px;
}

.gold {
    color: #FFc800;
    font-weight: bold;
}

.google {
    width: 465px;
    background: url("img/backtable.gif");
    border: 1px outset gray;
    margin: auto;
    min-height: 50px;
    padding: 20px 10px;
}

.google-button {
    height: 14px;
    font-size: 9px;
    width: 100px;
}

.google__form {
    padding-top: 10px;
}

.google__input {
    height: 9px;
    width: 180px;
}

#header {
    padding: 0 10px 5px 10px;
}

.italic {
    font-style: italic;
}

.menu {
    width: 140px;
}


/*.menu-bottom {
    background: url('img/menubottom.jpg') no-repeat center;
    border: 0 none;
    height: 20px;
    margin: 0;
    padding: 0;
}*/

.menu-category {
    border-left: 2px solid #ffbd00;
    font-variant: small-caps;
    font-weight: bold;
    margin: 6px 0 3px 1px;
    padding-left: 3px;
}

.menu-housecup-flex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.menu-events--line {
    border-top: 1px solid;
    padding: 3px 0px;
}

.menu-item {
    background-image: url("img/backtable.gif");
    border-left: 1px solid #404040;
    border-right: 1px solid #400000;
    margin: 0 2px;
    padding: 3px 6px 3px 6px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

.menu-item::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/menutop.jpg') no-repeat center;
    margin-top: -15px;
}

.menu-item::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    background: url('img/menubottom.jpg') no-repeat center;
    margin-bottom: 40px;
}

.menu-loginbutton {
    height: 17px;
    width: 80px;
}

.menu-loginform {
    height: 9px;
    width: 95px;
}

.sites {
    border: 1px solid gray;
}

.sites:hover {
    border: 1px solid white;
}

.menu-nav a {
    display: block;
}

.menu-onlinelist--heading {
    color: #FC9324;
    padding: 5px 0px;
}

.menu-onlinehere,
.menu-onlineall {
    text-align: left;
}


/*.menu-top {
    background: url('img/menutop.jpg') no-repeat center;
    border: none;
    height: 20px;
    margin: 0 2px;
    padding: 0;
}*/

.quidditch {
    color: #FF9999;
    font-weight: bold;
}

.gryffindor {
    color: #FF3333;
    text-decoration: none;
    display: block;
}

.ravenclaw {
    color: #1E90FF;
    text-decoration: none;
    display: block
}

.slytherin {
    color: #00FF00;
    text-decoration: none;
    display: block
}

.space {
    margin: 5px auto;
}
